<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/register.css')}}">
</head>

<body background="{{url_for('static',filename='img/medmesh-bkgrnd.png')}}">
    <div style="float: right;" class="container">
        <br />
        <br />
        <br />
        <br />


        <div class="row">
            <label color="black" class="user"> Let's Talk. Click the chat icon </label>
            <link href="https://snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css">
            <script src="https://snatchbot.me/sdk/webchat.min.js"></script>
            <script> Init('?botID=28729&appID=ZccN1sRvfz9TEuRFJmMA', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/ayxTPKgEhVInClZr40GwxwUK1', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '0', '#FFFFFF'); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>
        </div>
    </div>

</body>

</html>