body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/medmesh-bkgrnd-t2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 110%;
    opacity: 1.0;
}
#login-name {
  font-size: 65px;
  font-family: arabic typesetting;
  border-bottom-style: ridge;
  color: white;
}
#login {
  background-color: rgba(13, 13, 13, 0.2);
  min-height: 700px;
  padding: 40px 80px 40px 80px;
  box-shadow: -10px -10px 9px rgb(128, 128, 128);
}
.user {
  font-size: 29px;
  font-family: arabic typesetting;

  color: black;
}
.userb {
  font-size: 19px;
  font-family: arabic typesetting;

  color: black;
}

#iconn {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}
#iconn1 {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

#text1 {
  border-radius: 0;
  height: 40px;
}
#text2 {
  border-radius: 0;
  height: 40px;
}

.btn {
  width: 50%;
  float: left;
  height: 40px;
  font-size: 18px;
}

.label_001 {
  font-size: 18px;
  color: white;
  font-style: italic;
}
